
  <mat-grid-list cols="3" rowHeight="180px" *ngIf="patterns && patterns.length > 0; else nopattern">
    <mat-grid-tile *ngFor="let pattern of patterns">
      <div class="productbox" align="center" ng-app>
        <img src="{{pattern.imageURL}}" class="img-responsive" width="30%">
        <div class="productname">{{pattern.name}}   -   {{pattern.author}}</div>
        <div class="productprice">Prix:  {{pattern.price}}€ <input type="button" (click)="choosePattern(pattern)" value="Choisir"></div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div align="center" *ngIf="patterns && patterns.length > 0;">
    <input *ngIf="currentPage > 1" style="display: inline-block" type="button" (click)="previous()" value="<">
    <p style="display: inline-block">{{currentPage}}</p>
    <input *ngIf="currentPage < totalPages" style="display: inline-block" type="button" (click)="next()" value=">">
  </div>
  <ng-template #nopattern>Il n'y a aucun motif !</ng-template>
  </div>
<ng-template #patternSelected><jhi-item-edit *ngIf="cartService.hasPatternSelected()"></jhi-item-edit></ng-template>
