<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pattern-heading">Créer ou éditer un motif</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pattern.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pattern.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nom</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="pattern.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_author">Auteur</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                        [(ngModel)]="pattern.author" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imageURL">Image URL</label>
                    <input type="text" class="form-control" name="imageURL" id="field_imageURL"
                        [(ngModel)]="pattern.imageURL" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Prix</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="pattern.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_theme">Thème</label>
                    <select class="form-control" name="theme" [(ngModel)]="pattern.theme" id="field_theme" >
                        <option value="NATURE">NATURE</option>
                        <option value="ANIME">ANIME</option>
                        <option value="DESIGN">DESIGN</option>
                        <option value="LOVE">LOVE</option>
                        <option value="ANIMAL">ANIMAL</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Sauvegarder</span>
                </button>
            </div>
        </form>
    </div>
</div>
