<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pattern">
            <h2><span>Motif</span> {{pattern.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{pattern.name}}</span>
                </dd>
                <dt><span>Auteur</span></dt>
                <dd>
                    <span>{{pattern.author}}</span>
                </dd>
                <dt><span>Image URL</span></dt>
                <dd>
                    <span>{{pattern.imageURL}}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{pattern.price}}</span>
                </dd>
                <dt><span>Thème</span></dt>
                <dd>
                    <span>{{pattern.theme}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pattern', pattern.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
