<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commandItem">
            <h2><span>Élément de commande</span> {{commandItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantité</span></dt>
                <dd>
                    <span>{{commandItem.quantity}}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{commandItem.price}}</span>
                </dd>
                <dt><span>Couleur</span></dt>
                <dd>
                    <span>{{commandItem.color}}</span>
                </dd>
                <dt><span>Taille</span></dt>
                <dd>
                    <span>{{commandItem.size}}</span>
                </dd>
                <dt><span>Motif</span></dt>
                <dd>
                    <div *ngIf="commandItem.pattern">
                        <a [routerLink]="['/pattern', commandItem.pattern?.id, 'view']">{{commandItem.pattern?.id}}</a>
                    </div>
                </dd>
                <dt><span>Commande</span></dt>
                <dd>
                    <div *ngIf="commandItem.command">
                        <a [routerLink]="['/command', commandItem.command?.id, 'view']">{{commandItem.command?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/command-item', commandItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editer</span>
            </button>
        </div>
    </div>
</div>
