<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur Almightee!</h1>
        <p class="lead">Vente de t-shirts personnalisables</p>
        <p class="lead">
            Grâce à Almightee, vous pouvez personnaliser des t-shirts grâce à de nombreux motifs!
        </p>
        <a class="alert-link" routerLink="catalog">Visiter notre catalogue</a>
        <p> </p>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Vous êtes connecté en tant que: "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous possèdez déjà un compte? </span>
                <a class="alert-link" (click)="login()">Se connecter</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous ne possèdez pas encore de compte?</span>&nbsp;
                <a class="alert-link" routerLink="register">Créer un nouveau compte</a>
            </div>
        </div>
    </div>
</div>
