<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="product.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="product.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_color">Color</label>
                    <select class="form-control" name="color" [(ngModel)]="product.color" id="field_color" >
                        <option value="WHITE">WHITE</option>
                        <option value="BLACK">BLACK</option>
                        <option value="BLUE">BLUE</option>
                        <option value="YELLOW">YELLOW</option>
                        <option value="GREEN">GREEN</option>
                        <option value="RED">RED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <select class="form-control" name="size" [(ngModel)]="product.size" id="field_size" >
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="product.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === product.category?.id ? product.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pattern">Pattern</label>
                    <select class="form-control" id="field_pattern" name="pattern" [(ngModel)]="product.pattern" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patternOption.id === product.pattern?.id ? product.pattern : patternOption" *ngFor="let patternOption of patterns; trackBy: trackPatternById">{{patternOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
